body{
    background-color:#ecf39e;
    font-family: sans-serif;
}

.nav-mascotas {
    background-color: #ff914d;
    padding: 15px 0;
}

.nav-mascotas ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 30px;
    margin: 0;
    padding: 0;
}

.nav-mascotas a {
    text-decoration: none;
    color: #132a13;
    font-weight: bold;
    font-family: Arial, sans-serif;
    transition: 0.3s;
}

.nav-mascotas a:hover {
    color: #333;
    background-color: white;
    padding: 5px 10px;
    border-radius: 8px;
}

button{
    background-color: #4f772d;
    color: beige;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

button:hover {
    background-color: #90a955;
    color: #132a13;
}

footer{
    background-color: #333;
    color: azure;
    text-align: center;
    padding: 20px 0;
    margin-top: 30px;
}